header{
	background: #322E39;
	padding: 2%;

}
.pag{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color:#77757C;
	font-size: 2.5rem;
}
.pag strong{
	color:white;
	font-size: 2.5rem;
	font-weight: bold;	
}
#park{
	border-bottom: 1px solid #77757C;
	height: 580px;
	margin-bottom: 0px;
}
.parque{
	background: url(../img/header.png)no-repeat;
	height: 80vh;
	margin-top: 5%;
	margin-left: 40px;
}
.texto{
	margin-top: 6%;
	font-weight: lighter;
	padding-right: 6%;
	margin-left: -70px;
}
.texto h3{
	font-size: 2rem;
}
.texto p{
	margin-top: 10%;
	margin-bottom: 20px;
}
.texto a{
	text-decoration: none;
	background-color: #77757C;
	padding: 3% 6%;
	border-radius: 30%;
	color: white;
	font-size: 1rem;
}
.menu2 h3{
	padding-top: 4%;
}
.menu2 nav li{
	position: relative;
	float: left;
	color: #BEBEBE;
	margin:auto;
}
.menu2  nav a{
	margin-left: 15%;
	color: #BEBEBE;
	text-decoration: none;
}
.plomo{
	padding-right: 4%;
	font-size:0.8rem;
	margin-top: 3%;
	margin-bottom: 4%;
}
.plomo img{
	margin-bottom: 2%;
}
.plomo h3{
	margin-bottom: 2%;
}
.load{
	text-decoration: none;
	background-color: #77757C;
	padding: 1% 2%;
	border-radius: 30%;
	color: white;
	font-size: 1rem;
	margin-left:45%;
}